/* make it more responsive  icluding fontSize*/
.container{
    max-width: 1920px;
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
}
.side-nav-first-sect{
    width: 100%;
    height: 100%;
    display: flex;
}
.side-nav{
    width: 16.6%;
    background-color: #222222;
    height: 1080px;
    /* shecvladia */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 9.5%;
    padding-top: 3%;
}
/* shecvladia simagle */
.top-part{
    display: flex;
    justify-content: space-between;
    width: 81%;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
}
.design-com{
    max-width: 146px;
    max-height: 32px;
    width: 80%;
}
.burger{
    width:26px;
    height:11px;
}
.side-nav nav{
    width: 81%;
    margin: 0 auto;
    height: 31%;
}
.side-nav ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: aliceblue;
    width: 100%;
}
.side-nav li{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 11.5%;
    flex-wrap: wrap;
}
.side-nav li:hover{
    margin-left: 0;
    padding-top: 5.6%;
    padding-bottom: 5.6%;
    background-color: #FF2288;
    border: 1px #FF2288 solid;
    border-radius: 10px;
}
.following{
    display: flex;
    color: aliceblue;
    flex-direction: column;
    height: 41%;
    justify-content: space-between;
    width: 81%;
    margin-left: 18.8%;
}
.account-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 87.5%;
}
.account-list div{
    display: flex;
    align-items:center;
    /* shecvladia */
    gap: 5%;
    flex-wrap: wrap;
}
.first-sect{
    width: 83.4%;
}
header{
    width: 92%;
    margin-left: 1.5%;
    /* shecvladi */
    height: 116px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* gadaxedvadia */
.search-bar{
    height: 48%;
    width: 30%;
    background-color:#F8F8F8;
    border: #F8F8F8 1px solid;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}
.search{
   padding: 20px;
   border: none;
   border-radius: 20px;
   background-color: #F8F8F8;
}
.search:hover{
    border: 0px;
}
.btn{
    border: none;
    border-radius: 20px;
    color: black;
}
.user-info{
    display: flex;
    width: 28%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.search-btn{
    opacity: 0.5;
    background: none;
    border: #F8F8F8 0.1px solid;
    border-radius: 20px;
}
.upload{
    width:9%;
    height: 15.5%;
}
#go-pro{
    width: 14%;
    animation: beat .25s infinite alternate;
}
@keyframes beat{
    to { transform: scale(1.4); }
} 
.btn:hover{
    color: white;
    padding: 100% 100%;
    background-color: #FF2288;
    border: 1px #FF2288 solid;
    border-radius: 20px;
}
.first-sect-body{
    /* shecvladi */
    width: 83%;
    margin:40px auto;
    height: 820px;
    /* background-color: cyan; */
    align-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.first-sect-top{
    width: 100%;
    height: 6.5%;
    display: flex;
    justify-content: space-between;
}
.first-sect-top nav{
    width: 60%;
}
.first-sect-top ul{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
#filter{
    display: flex;
    width: 10.7%;
    align-items: center;
    border:lightgray 1px solid;
    border-radius: 10px;
    justify-content: center;
}
#filter button{
    background: none;
    border: none;
    padding-top: 0;
    margin-top: 0%;
}
.first-sect li:hover{
    padding: 18px;
    background-color: #F2F2F2;
    border: none;
    border-radius: 10px;
}
.first-sect-mid{
    width: 100%;
    height: 73%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.first-sect-mid div{
    width: 23.4%;
    height: 47%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first-sect-mid img{
    width: 100%;
}
.first-sect-body button{
    padding: 2.2% 8.5%;
    background-color: #F8F8F8;
    border: none;
    border-radius: 16px;
    margin-top: 5%;
}
#hover-icons{
    display: none;
}
.second-sect{
    width: 83.4%;
    /* shecvladi */
    height:500px;
    padding: 3% 9.5% ;
    display: flex;
    margin-left:16.6%;;
    flex-direction: column;
    background-color: #FAFAFA;
}
.second-sect h1{
    font-size: larger;
}
.top-designers{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.designer-info{
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    width: 10.6%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.address{
    font-size: smaller;
    color:#222222;
    opacity: 0.6;
}
.designer-info img{
    height: 36%;
    width: 100%;
}
.designer-info div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-designers button{
    padding: 3.9%  27.5% ;
    border: lightgray solid 1px;
    border-radius: 15px;
    background-color: none;
}
.top-designers button:hover{
    background-color: #F2F2F2;
    border: none;
}
footer{
    width: 57%;
    display: flex;
    flex-direction: column;
    margin-left: 26%;
    margin-right: 17%;
    margin-top: 65px;
}
footer h4{
    margin-bottom: 25%;
}
.for-designers{
    height: 398px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer-divs {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.footer-divs div{
    max-height: 86%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.soc-media{
    padding-top:40px;
    border-top: lightgray solid 1px;
}
.table{
    width: 83%;
    margin:40px auto;
    height: 73%;
   
}
table{
    width: 100%;
    height: 100%;
}
th{
    text-align: left;
    vertical-align: middle;
}
tr:not(#top-row){
    border-top: #E7E7E7 1px solid;
    color: #AFAFAF;
}
td{
    vertical-align: middle;
}
tr:not(#top-row):hover{
    color: #FF2288;
}
.home-btn{
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}
@media ( max-width:480px ){
    ul{
        flex-wrap: wrap;
        font-size:smaller
    }
    #filter{
        width:max-content;
        flex-wrap: wrap;
        height: max-content;
    }
    .side-nav{
        padding-top: 5%;
        padding-bottom: 5%;
        height: max-content;
    }
    .account-list img{
        height: 25px;
    }
    .side-nav ul{
        padding-top: 15%;
        padding-bottom: 15%;
    }
    .side-nav li{
        gap: 5%;
    }
    .side-nav a{
        gap: 5%;
    }
    .account-list div{
        gap: 3%;
    }
    .account-list span{
        font-size: smaller;
    }
    .account-list{
        gap: 10px;
    }
    .top-part{
        justify-content: center;
    }
    .first-sect-mid {
        font-size:x-small
    }
    .second-sect{
        width: 100%;
        margin-left: 0%;
        height: 300px;
    }
    .top-designers img{
        width: 100%;
        height: 20%;
    }
    .designer-info  p{
        font-size:x-small;
    }
    .designer-info button{
        font-size: xx-small;
    }
    .first-sect-body{
        height: 500px;
    }
    .for-designers{
        height: fit-content;
        padding-bottom: 10%;
    }
    footer p{
        font-size: x-small;
    }
    table td{
        font-size: x-small;
    }
    table th{
        font-size: smaller;
    }
    footer h4{
        font-size: small;
    }
    footer{
        margin: 20% auto;
        width: 70%;
    }

}

/* @media (max-width: 1024px){
    .following{
        margin-left: 0;
        align-items: center;
        justify-content: space-between;
    }
    .account-list div{
        flex-direction: column;
        gap: 0;
        padding-bottom: 10%;
    }
} */