/* make it more responsive */
.container{
    max-width: 1920px;
    width: 100%;
    display: flex;
    height: 100%;
}
.side-nav{
    width: 16.6%;
    background-color: #222222;
    height: 1080px;
    /* shecvladia */
    /* height: 49%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* shecvladia simagle */
.top-part{
    display: flex;
    justify-content: space-between;
    width: 81%;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
}
.design-com{
    max-width: 146px;
    max-height: 32px;
    width: 80%;
}
.burger{
    width:26px;
    height:11px;
}
nav{
    width: 81%;
    margin: 0 auto;
    height: 31%;
}
ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: aliceblue;
    width: 100%;
}
li{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 11.5%;
    flex-wrap: wrap;
}
li:hover{
    margin-left: 0;
    padding-top: 5.6%;
    padding-bottom: 5.6%;
    background-color: #FF2288;
    border: 1px #FF2288 solid;
    border-radius: 10px;
}
.following{
    display: flex;
    color: aliceblue;
    flex-direction: column;
    height: 33%;
    justify-content: space-between;
    width: 81%;
    margin-left: 18.8%;
}
.account-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 87.5%;
    
}
.account-list div{
    display: flex;
    align-items:center;
    /* shecvladia */
    gap: 20px;
    flex-wrap: wrap;
}
.first-sect{
    width: 83.4%;
}
header{
    width: 92%;
    background-color: bisque;
    margin-left: 1.5%;
    /* shecvladi */
    height: 116px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* gadaxedvadia */
.search-bar{
    height: 48%;
    width: 30%;
    background-color:#F8F8F8;
    border: #F8F8F8 1px solid;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}
.search{
   padding: 20px;
   border: none;
   border-radius: 20px;
   background-color: #F8F8F8;
}
.search-bar button{
    border: none;
    opacity: 0.5;
    border-radius: 20px;
}
.user-info{
    display: flex;
    width: 28%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.user-info button{
    border: none;
    background-color: white;
}
.user-info button:hover{
    padding:9% 15.5%;
    background-color: #FF2288;
    border: 1px #FF2288 solid;
    border-radius: 20px;
}
.first-sect-body{
    width: 83%;
    margin: 0 auto;
}



/* @media (max-width: 1024px){
    .following{
        margin-left: 0;
        align-items: center;
        justify-content: space-between;
    }
    .account-list div{
        flex-direction: column;
        gap: 0;
        padding-bottom: 10%;
    }
} */